.resultPage{
    position: absolute;
    aspect-ratio: 1.82/1;
    width: 800px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-size: cover;
    background-position: center;
    border-radius: 25px;
}