
.difficulty{
    display: flex;
    gap: 20px;
}

.gameTitle{
    display: flex;
    align-items: center;
    font-weight: 800;
    background-image: linear-gradient( #40ADF8, #1748D7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    padding: 10px;
}

.gameTitle span{
    background-color: #D70000;
    -webkit-background-clip: text;
    background-clip: text;
}

.startPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.diff{
    background-image: linear-gradient( #40ADF8, #1748D7);
    font-size: 2rem;
    color: #F4E03F;
    border: 2px solid #D70000;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;
    
}